.quote {
  color: white;
}

.quote.loading {
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
