.body {
  position: relative;
  background-color: black;
  color: white;
  height: 900px;
  top: -32px;
  padding: 64px 0;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0 5%;
}

.h2-class {
  transition: color 0.05s ease, transform 0.05s ease;
}

.h2-class:hover {
  color: orange;
  transform: scale(1.1);
}

.h2-class:active {
  color: red;
  transform: scale(0.9);
}

a {
  color: inherit;
}

.dflex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.mr10 {
  margin-right: 10%;
}

.navcont {
  margin: 32px 10%;
}

.welcome {
  margin: 16px 10%;
}

.loremipsum {
  margin: 0 10%;
}

.quote {
  margin: 32px 20%;
}

.grid4x6 {
  margin-right: 10%;
  width: 50%;
}
